<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procuer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Add new producer</h1>

<form action="#" th:action="@{/producer}" th:object="${producer}" method="post">
    <input type="text" id="name" name="name" th:value="*{name}" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <input type="email" id="email" name="email" th:value="*{email}" />
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br />
    <button type="submit">Add Producer</button>
</form>

<div th:if="${message} != null">
    <div id="${message.type}" th:text="${message.text}">Message:</div>
</div>

<hr />

<h1>Existing producers</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Command</th>
    </tr>
    <tr th:each="producer : ${producers}">
        <td th:text="${producer.name}"></td>
        <td th:text="${producer.email}"></td>
        <td>
            <a th:href="@{/producer/delete/{id}(id=${producer.id})}">Delete</a>
        </td>
    </tr>
</table>



</body>
</html>